# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# Foundry build
out/
cache/

# Hardhat
artifacts/
cache/

node_modules/
package-lock.json
